<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
    <div style="background-color: gray; border-radius: 10px; padding: 10px; max-width: 80%; width: 100%;">
        <h1 style="text-align: center; font-weight: bold;">URL Shortener</h1>
        <form action="/shortUrls" method="post" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 20px;">
            <label for="fullUrl" class="sr-only">Full Url</label>
            <input required type="url" name="fullUrl" id="fullUrl" placeholder="Full Url" style="display: flex; margin-right: 10px; border-radius: 5px; box-shadow: none; border-width: 0px;">
            <button class="btn btn-success" type="submit">Shorten</button>
        </form>
        <div>
        <table  style="display: flex; flex-direction: column; align-items: center;">
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Shortened URL</th>
                    <th>Clicks</th>
                    <th></th>
                </tr>
            </thead>
          
            <tbody>
           
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
            <td>
                <form action="/<%= shortUrl.short%>" method="post">
                    <button class="btn btn-danger">Del</button>
                </form>
            </td>
          </tr>
        <% }) %>

            </tbody>
        </table>
    </div>
</body>
</html>